@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
}

.display-none {
  display: none;
}

#mobile-menu {
  z-index: 999;
}

.bg-purple-100 {
  background-color: #f3e8ff;
}

#btn-back-to-top {
  position: fixed;
  display: none;
}

.footer-links a {
  padding-bottom: 2px;
}

footer h5 {
  color: #4b5563
}

footer ul li a {
  color: #374151;
}