<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - URLific</title>
  <link rel="shortcut icon" th:href="@{/image/logo.png}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.css}"/>
  <script th:src="@{/js/font-awesome.min.js}"></script>
  <script th:src="@{/js/flowbite.min.js}"></script>
</head>

<body>
  <div th:replace="~{fragements/layout.html :: header}"></div>
  <div th:replace="~{fragements/layout.html :: sidebar}"></div>
  <div class="p-4 sm:ml-64">
    <div class="mt-14 lg:p-4">
      <div class="flex items-center justify-between">
        <h1 class="font-medium text-lg">Your Links</h1>
        <button type="button" id="openDialogBtn"
                class="leading-6 rounded-md bg-purple-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-purple-500">
          <i class="fa-solid fa-plus"></i> Create
        </button>
      </div>
      <div class="grid grid-cols-1 gap-4 my-5">
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
        <div class="w-full h-14 rounded-lg p-2 border border-dashed">
          <div class="h-full rounded-lg bg-gray-300"></div>
        </div>
      </div>
      <dialog id="dialog" class="m-auto p-5 rounded-lg sm:w-full lg:w-2/6">
        <h3 class="font-medium text-lg p-2">Create</h3>
        <hr>
        <form class="space-y-3" th:action="@{/dashboard/create}" method="post">
          <div>
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
            <div class="mt-2">
              <input id="name" name="name" type="text" required
                     class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <label for="url" class="block text-sm font-medium leading-6 text-gray-900">Url</label>
            <div class="mt-2">
              <input id="url" name="url" type="text" required
                     class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                     pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})">
            </div>
          </div>
          <div class="flex justify-end">
            <button id="closeDialogBtn" type="button"
                    class="mr-3 leading-6 rounded-md bg-gray-400 px-3 py-2 text-sm font-semibold text-white hover:bg-gray-500">
              Close
            </button>
            <button type="submit"
                    class="ml-3 leading-6 rounded-md bg-purple-600 px-3 py-2 text-sm font-semibold text-white hover:bg-purple-500">
              Create
            </button>
          </div>
        </form>
      </dialog>
    </div>
  </div>
  <script th:src="@{/js/dashboard.js}"></script>
</body>

</html>