<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - URLific</title>
  <link rel="shortcut icon" th:href="@{/image/logo.png}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.css}" />
  <script th:src="@{/js/font-awesome.min.js}"></script>
</head>

<body>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <a th:href="@{/}">
        <img class="mx-auto h-10 w-auto" th:src="@{image/logo.png}" src="" alt="logo">
      </a>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your
        account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm p-6 rounded-md shadow-md">
      <div th:if="${param.error}" class="mb-3 p-3 bg-rose-200 rounded-md text-red-700">
        <p><i class="fa-sharp fa-solid fa-circle-xmark"></i> [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
      </div>
      <div th:if="${param.logout}" class="mb-3 p-3 bg-green-200 rounded-md text-green-700">
        <p><i class="fa-sharp fa-solid fa-circle-check"></i> You have been logged out!</p>
      </div>
      <div th:if="${param.successful}" class="mb-3 p-3 bg-green-200 rounded-md text-green-700">
        <p><i class="fa-sharp fa-solid fa-circle-check"></i> Your account has been created! Please verify your email.</p>
      </div>
      <form th:action="@{/authenticateTheUser}" method="POST">
        <div class="space-y-6">
          <div>
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
            <div class="mt-2">
              <input id="email" name="email" type="email" autocomplete="email" required
                     class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            <div class="mt-2">
              <input id="password" name="password" type="password" autocomplete="current-password" required
                     class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" class="w-4 h-4 rounded border" type="checkbox" name="remember-me">
              <label for="remember-me" class="ml-3 text-sm leading-6">Remember me</label>
            </div>
            <div>
              <a th:href="@{/reset}" class="text-sm font-semibold text-indigo-500">Forgot password?</a>
            </div>
          </div>
          <div>
            <button type="submit"
                    class="flex w-full justify-center rounded-md bg-purple-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">Sign
              in</button>
          </div>
          <p class="text-end text-sm">
            <span class="text-gray-400">No account? </span>
            <a th:href="@{/register}" class="font-semibold text-indigo-500">Register</a>
          </p>
        </div>
      </form>
      <div
        class="my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300">
        <p class="mx-4 mb-0 text-center text-gray-400">
          Or continue with
        </p>
      </div>
      <div class="grid grid-cols-1">
        <a class="mb-3 flex w-full items-center justify-center rounded-md bg-red-500 px-7 py-1.5 text-center text-sm font-semibold leading-6 text-white transition duration-150 ease-in-out hover:bg-red-600 focus:bg-red-600 focus:outline-none focus:ring-0"
          href="https://google.com" role="button" data-te-ripple-init data-te-ripple-color="light">
          <i class="fa-brands fa-google mr-2"></i>
          Google
        </a>
        <a class="mb-3 flex w-full items-center justify-center rounded-md bg-gray-800 px-7 py-1.5 text-center text-sm font-semibold leading-6 text-white transition duration-150 ease-in-out hover:bg-gray-700 focus:bg-gray-700 focus:outline-none focus:ring-0"
          href="https://github.com" role="button" data-te-ripple-init data-te-ripple-color="light">
          <i class="fa-brands fa-github mr-2"></i>
          GitHub
        </a>
      </div>
    </div>
  </div>
</body>

</html>